<div>
  <mat-toolbar color="primary" class="header">
    <div>
        <img style="width:50px" [attr.src]="serverImg+world.logo" />
        <span id="worldname"> {{world.name}}  </span>
    </div>

    <span [innerHTML]="world.money | bigvalue"></span>

    <div>   
        <button class="menu-button" (click)="calcQtMulti()">{{ qtmulti==0 ? "Max" : "x"+qtmulti }}</button>
    </div>

    <mat-form-field class="example-form-field">
      <mat-label>Identifiant</mat-label>
      <input matInput type="text" [(ngModel)]="username" (change)="onUsernameChanged()">
    </mat-form-field>

  </mat-toolbar>


  <div class="wrapper">
    
    <div *ngFor="let product of world.products.product">
      <app-product [product]="product" [server]="server" [serverImg]="serverImg" [qtmulti]="this.qtmulti" 
        [managerUnlocked]="product.managerUnlocked" [angelBonus]="world.angelbonus" [activeAngels]="world.activeangels" 
        [money]="world.money" (notifyProduction)="onProductionDone($event)" (notifyBuy)="onBuy($event)">
      </app-product>
    </div> 
    
    <div class="three">

      <div class="menu-item" style="margin-top:150px">
        <button class="menu-button" mat-raised-button color="primary"
              (click)="showUnlocks=!showUnlocks">Unlocks
        </button>
      </div>

      <br>
      <br>

      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary"
          (click)="showUpgrade=!showUpgrade">Cash Upgrades
        </button>
      </div>

      <br>
      <br>

      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary" [matBadge]="badgeAngels"
          [matBadgeHidden]="badgeAngels==0" (click)="showAngel=!showAngel">Angels Upgrades
        </button>
      </div>

      <br>
      <br>


      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary" [matBadge]="badgeManagers"
          [matBadgeHidden]="badgeManagers==0" (click)="showManagers=!showManagers">Managers</button>
      </div>

      <br>
      <br>


      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary"
            (click)="showInvestors=!showInvestors">Investors
        </button>
      </div>
      
    </div>

  </div>



  <div *ngIf="showManagers" class="modal">
    <div>
      <h1 class="title">Engager des manager</h1>
    </div>
    <div *ngFor="let manager of world.managers.pallier">
      <div *ngIf="!manager.unlocked" class="managerslayout">
        <div>
          <div class="logo"><img class="round" [attr.src]="serverImg+manager.logo" /> </div>
        </div>
        <div>
          <div class="managername"> {{ manager.name}} </div>
          <div class="managercible"> {{ world.products.product[manager.idcible-1].name }} </div>
          <div class="managercost"> {{ manager.seuil}} </div>
        </div>
        <div>
          <button mat-button class="hirebutton" (click)="hireManager(manager)"
            [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !
          </button>
        </div>
      </div>
    </div>
    <button class="closebutton" mat-raisedbutton color="primary" (click)="showManagers = !showManagers">Fermer</button>
  </div>



  <div class="modal" *ngIf="showUnlocks">
    <h1>Débloquer le potentiel maximal</h1>
    <ng-container *ngFor="let product of world.products.product">
      <ng-container *ngFor="let p of [nextUnlocks(product)];">
        <div *ngIf="p!=null" class="modal-layout">
          <div class="logo"><img [attr.src]="serverImg+p.logo"></div>
          <div class="modal-text">
            <p>{{ p.name }}</p>
            <p>{{ product.name }} {{ p.typeratio }} x{{ p.ratio }}</p>
          </div>
        </div>
      </ng-container>
    </ng-container>
      <ng-container *ngFor="let p of [nextUnlocks()];">
        <div *ngIf="p!=null" class="modal-layout">
          <div class="logo"><img [attr.src]="serverImg+p.logo"></div>
          <div class="modal-text">
            <p>{{ p.name }}</p>
            <p>L'univers {{ p.typeratio }} x{{ p.ratio }}</p>
          </div>
        </div>
      </ng-container>
      <button class="close-button" mat-button (click)="showUnlocks=false">Fermer</button>
  </div>

  <div *ngIf="showUpgrade" class="modal">
    <h1>Amélioration au niveau suivant</h1>
    <div *ngFor="let upgrade of world.upgrades.pallier">
      <div *ngIf="!upgrade.unlocked" class="modal-layout">
        <div class="logo"><img [attr.src]="serverImg+upgrade.logo"></div>
        <div class="modal-text">
          <p>{{ upgrade.name}}</p>
          <p>{{ world.products.product[upgrade.idcible-1].name }}</p>
          <p>{{ upgrade.seuil }}</p>
        </div>
        <button [disabled]="!(world.money>=upgrade.seuil)" (click)="buyUpgrade(upgrade)" mat-raised-button
          color="primary">Engager</button>
      </div>
    </div>
    <button class="close-button" mat-button (click)="showUpgrade=false">Fermer</button>
  </div>

  <div class="modal" *ngIf="showAngel">
    <h1>Upgrade your angels to the next level !</h1>
    <hr />
    <div *ngFor="let upgrade of world.angelupgrades.pallier">
      <div *ngIf="!upgrade.unlocked" class="modal-layout">
        <div class="logo"><img [attr.src]="serverImg+upgrade.logo"></div>
        <div class="modal-text">
          <p>{{ upgrade.name }}</p>
          <p>
            <ng-container *ngIf="upgrade.idcible>0">
              {{ world.products.product[upgrade.idcible-1].name }} {{ upgrade.typeratio }} x{{ upgrade.ratio }}
            </ng-container>
            <ng-container *ngIf="upgrade.idcible==0">
              All the universe {{ upgrade.typeratio }} x{{ upgrade.ratio }}
            </ng-container>
            <ng-container *ngIf="upgrade.idcible==-1">
              Angels bonus +{{ upgrade.ratio }}%
            </ng-container>
          </p>
          <p [innerHTML]="upgrade.seuil | bigvalue"></p>
        </div>

        <button [disabled]="!(world.activeangels>=upgrade.seuil)" (click)="buyAngelUpgrades(upgrade)" mat-raised-button
          color="primary">Buy !</button>
      </div>
    </div>
    <button class="close-button" mat-button (click)="showAngel=false">Fermer</button>
  </div>

  <div class="modal" *ngIf="showInvestors">
    <h1>Your best angelic friends</h1>
    <hr />
    <div class="modal-text">
      <p>{{ world.activeangels }} Total Angels</p>
      <p>{{ world.angelbonus }}% Bonus Per Angels</p>
    </div>

    <div class="flex-column">
      <button [disabled]="angelClaim<1" (click)="buyAngel()" mat-raised-button color="primary">{{ angelClaim }}
        angels<br />To Claim with a Restart</button>
    </div>
    <button class="close-button" mat-button (click)="showInvestors=false">Fermer</button>
  </div>

</div>