<div>
  <mat-toolbar class="header"color="primary" >
    <div>
        <img style="width:50px" [attr.src]="serverImg+world.logo" />
        <span id="worldname"> {{world.name}}  </span>
    </div>

    <span [innerHTML]="world.money | bigvalue"></span>

    <div>   
        <button class="menu-button" (click)="calcQtMulti()">{{ qtmulti==0 ? "Max" : "x"+qtmulti }}</button>
    </div>

    <mat-form-field class="example-form-field">
      <mat-label>Username</mat-label>
      <input matInput type="text" [(ngModel)]="username" (change)="onUsernameChanged()">
    </mat-form-field>

  </mat-toolbar>


  <div class="wrapper">
    
    <div *ngFor="let product of world.products.product">
      <app-product [product]="product" [server]="server" [serverImg]="serverImg" [qtmulti]="this.qtmulti" 
        [managerUnlocked]="product.managerUnlocked" [angelBonus]="world.angelbonus" [activeAngels]="world.activeangels" 
        [money]="world.money" (notifyProduction)="onProductionDone($event)" (notifyBuy)="onBuy($event)">
      </app-product>
    </div> 
    
    <div class="three">

      <div class="menu-item" style="margin-top:150px">
        <button class="menu-button" mat-raised-button color="primary"
              (click)="showUnlocks=!showUnlocks">Unlocks
        </button>
      </div>

      <br>
      <br>

      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary"
          (click)="showUpgrade=!showUpgrade">Cash Upgrades
        </button>
      </div>

      <br>
      <br>

      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary" [matBadge]="badgeAngels"
          [matBadgeHidden]="badgeAngels==0" (click)="showAngel=!showAngel">Angels Upgrades
        </button>
      </div>

      <br>
      <br>


      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary" [matBadge]="badgeManagers"
          [matBadgeHidden]="badgeManagers==0" (click)="showManagers=!showManagers">Managers</button>
      </div>

      <br>
      <br>


      <div class="menu-item">
        <button class="menu-button" mat-raised-button color="primary"
            (click)="showInvestors=!showInvestors">Investors
        </button>
      </div>
      
    </div>

  </div>



  <div *ngIf="showManagers" class="modal" style="height: 700px;">
    <div>
      <h1 class="titre">Hire managers</h1>
    </div>
    <div *ngFor="let manager of world.managers.pallier">
      <div *ngIf="!manager.unlocked" class="managerslayout">
        <div>
            <div class="logo"><img class="round" [attr.src]="serverImg+manager.logo" /> 
            <div class="managername"> {{ manager.name}} 
            <div class="managercible">Producer of : {{ world.products.product[manager.idcible-1].name }} 
            <div class="managercost"> Threshold : {{ manager.seuil}} 
              <div>
                <button class="hirebutton" mat-raisedbutton (click)="hireManager(manager)"
                color="primary"
                [disabled]="manager.seuil > world.money"
                  [ngClass]="{'selectable' : (world.money >= manager.seuil)}">Hire !
                </button>
              </div>
              </div>
              </div></div></div></div></div>
        </div> 
        <button class="closebutton" style="position: fixed; top: 646px;" mat-raisedbutton color="primary" (click)="showManagers = !showManagers">Close</button>    
      </div>
   



  <div class="modal" *ngIf="showUnlocks" style="height: 700px;">
    <h1 class="titleUnlock">Unlock maximum potential</h1>
    <ng-container *ngFor="let product of world.products.product">
      <ng-container *ngFor="let p of [nextUnlocks(product)];">

        <div *ngIf="p!=null" class="modal-layout">
            <div class="card">
                <img [attr.src]="serverImg+p.logo" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b> {{p.typeratio}} x {{ p.ratio }} Threshold :  {{ p.seuil }}</b></h4> 
                  <p>For the product : {{ product.name }}</p> 
                </div>
              </div>
<!--
          <div class="logo"><img [attr.src]="serverImg+p.logo"></div>
          <div class="modal-text">
            <p>{{ p.name }}</p>
            <p>{{ product.name }} {{ p.typeratio }} x{{ p.ratio }}</p>
          </div>
-->
        </div>
      </ng-container>
      <br>
    </ng-container>

      <button style="position: fixed;
      top: 646px;" class="close-button" (click)="showUnlocks=false">Close</button>
  </div>

  <div *ngIf="showUpgrade" class="modal" style="height: 700px;">
    <h1 class="titleUpgrade"> Upgrading to the next level</h1>
    <div *ngFor="let upgrade of world.upgrades.pallier">
      <div *ngIf="!upgrade.unlocked" class="modal-layout">
          <div class="card">
              <img [attr.src]="serverImg+upgrade.logo" alt="Avatar" style="width:100%">
              <div class="container">
                <h4><b>{{ upgrade.name}}</b></h4> 
           <!--     <p>{{ world.products.product[upgrade.idcible-1].name }}</p>-->
                <p>Threshold : {{ upgrade.seuil }}</p>
                <button [disabled]="!(world.money>=upgrade.seuil)" (click)="buyUpgrade(upgrade)" mat-raised-button
                    color="primary">Buy</button>
              </div>
            </div>
            <br>

<!--
          <div class="logo"><img [attr.src]="serverImg+upgrade.logo"></div>
        <div class="modal-text">
          <p>{{ upgrade.name}}</p>
          <p>{{ world.products.product[upgrade.idcible-1].name }}</p>
          <p>{{ upgrade.seuil }}</p>
        </div>
        <button [disabled]="!(world.money>=upgrade.seuil)" (click)="buyUpgrade(upgrade)" mat-raised-button
          color="primary">Engager</button>
-->
      </div>
    </div>
    <button style="position: fixed;
    top: 646px;"  class="close-button" (click)="showUpgrade=false">Close</button>
  </div>

  <div class="modal" *ngIf="showAngel" style="height: 700px;">
    <h1 class="titleAngel">Upgrade angels</h1>
    <div *ngFor="let upgrade of world.angelupgrades.pallier">
      <div *ngIf="!upgrade.unlocked" class="modal-layout">
        <div class="logo"><img [attr.src]="serverImg+upgrade.logo"></div>
        <div class="modal-text">
          <p>{{ upgrade.name }}</p>
          <p>
            <ng-container *ngIf="upgrade.idcible>0">
              {{ world.products.product[upgrade.idcible-1].name }} {{ upgrade.typeratio }} x{{ upgrade.ratio }}
            </ng-container>
            <ng-container *ngIf="upgrade.idcible==0">
              All worlds {{ upgrade.typeratio }} x{{ upgrade.ratio }}
            </ng-container>
            <ng-container *ngIf="upgrade.idcible==-1">
              Angels bonus +{{ upgrade.ratio }}%
            </ng-container>
          </p>
          <p [innerHTML]="upgrade.seuil | bigvalue"></p>
        </div>

        <button class="buyAngel" [disabled]="!(world.activeangels>=upgrade.seuil)" (click)="buyAngelUpgrades(upgrade)" mat-raised-button
          color="primary">Buy !</button>
      </div>
    </div>
    <button style="position: fixed;
    top: 646px;"  class="close-button" (click)="showAngel=false">Close</button>
  </div>

  <div class="modal" *ngIf="showInvestors" style="height: 700px;">
    <h1 class="titleInvestors">Your best angelic friends</h1>
    <div class="modal-text">
      <p>{{ world.activeangels }} Total Angels</p>
      <p>{{ world.angelbonus }}% Bonus Per Angels</p>
    </div>

    <div class="flex-column">
      <button [disabled]="angelClaim<1" (click)="buyAngel()" mat-raised-button color="primary">{{ angelClaim }}
        angels<br />To Claim with a Restart</button>
    </div>
    <button class="close-buttonInvestor" (click)="showInvestors=false">Close</button>
  </div>

</div>