.header {
    display: grid;
    grid-template-columns: 25% 25% 30% 20%;
}
.main {
    display: grid;
    grid-template-columns: 20% 80%;
}
.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.round { 
    width: 100px; 
    height: 100px; 
    border-radius: 50% 
}

.lesdeux {
    position: relative; 
}

.lesecond { 
    position: absolute; 
    bottom: -10px; 
}

.modal {
    position: fixed;
    z-index: 2; 
    width: 800px;
    height: 800px; 
    overflow: auto; 
    background-color: white; 
    border: solid;
    top:10; 
    left:20%; 
}

.menu-item{
        margin-left: 10px; 
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .two { 
    grid-column: 3 / 6;
    grid-row: 3 / 6;
  }
  .three {
      width: 60%;
    background-color: antiquewhite;
    grid-column: 1;
    grid-row: 1 / 5;
  }

   