<div class="product">
    <mat-card-header>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle class="pQuantite">Quantity:  {{product.quantite}}</mat-card-subtitle>
    </mat-card-header>

    <img [attr.src]="serverImg+product.logo" (click)="startFabrication()" width="250px" />

    <mat-card-content>

        <div class="cout">
           Income:  <span [innerHTML]="product.revenu * product.quantite * (1 + (activeAngels * angelBonus) / 100) | bigvalue"></span> $
        </div>

        <div class="time">
            <span> <mat-icon matSuffix>timer</mat-icon>  {{product.vitesse/1000}} sec </span>  <span *ngIf="product.timeleft  != 0">{{product.timeleft/1000}}</span>
        </div>
        
        <div class="production">
            <mat-progress-bar [value]="progressbarvalue" ></mat-progress-bar>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <button mat-flat-button color="primary" [disabled]="calcCanBuy()==0" (click)="buy()">
            <p class="prix" [innerHTML]="getPrix(calcCanBuy()>0 ? calcCanBuy() : (qtmulti==0 ? 1 : qtmulti)) | bigvalue"></p>
            <p class= "quantitecalcule">{{ calcCanBuy()>0 ? "x"+calcCanBuy() : (qtmulti==0 ? 1 : qtmulti) }}</p>
            <p class="buy">Buy</p>
            </button>
    </mat-card-actions>

</div>
